* {
  font-size: 24pt;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body.darkmode {
  background: #000;
}

.btn {
  font-size: 0.75em;
  padding: 1em;
  background: #242;
  color: #fff;
  border: none;
  box-shadow: 0 0 1pt 1pt #000;
  user-select: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn-sq {
  font-size: 0.4rem;
  padding-top: 1.15rem;
  border: none;
  color: #444;
  background-color: #fff;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center 35%;
  box-shadow: 0 0 1pt 1pt #0004;
  user-select: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

body.darkmode .btn-sq {
  background-color: #444;
  color: #ccc;
}

.btn-sq:focus {
  outline: none;
}

#page {
  width: 100%;
  height: 100%;
}

#page:empty::before {
  content: "Loading";
  text-align: center;
  vertical-align: middle;
}

#page > * {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.overlay-link {
  position: fixed;
  text-decoration: underline;
  font-size: 10pt;
  background: #fff8;
  color: #008;
  padding: 0.2em 0.5em;
  z-index: 3;
  cursor: pointer;
}

/** The dark mode button. */
#darkmode {
  left: 0;
  bottom: 0;
  display: none;
}

body[page=map] #darkmode {
  display: inherit;
}

body.unreg #darkmode {
  display: inherit;
}

/** The overlay with errors. */
#errors {
  position: fixed;
  width: 100%;
  font-size: 10pt;
  bottom: 20%;
  background: #800;
  color: #fff;
  padding: 0.5em;
  white-space: pre-wrap;
  word-break: break-all;
  z-index: 3;
}

#errors:empty {
  display: none;
}

/** The "back home" link. */
#home-link {
  left: 0;
  bottom: 0;
}

body[page=map] #home-link {
  display: none;
}

body.unreg #home-link {
  display: none;
}

/** The "visit commons" link. */
#commons-link {
  display: none;
}

body[page=map].debug #commons-link {
  display: inherit;
  top: 0;
  left: 0;
}

/* debug menu */
#debug-toggle {
  right: 0;
  top: 0;
  visibility: collapse;
}

body.debug #debug-toggle {
  visibility: visible;
}

#debug {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

#debug .btn {
  color: #fff;
  font-size: 0.5rem;
  box-shadow: 0 0 3pt 1pt #800;
  background: #000;
  word-break: break-all;
  margin: 0.2rem;
  padding: 0.5em;
}

#logs {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  font-size: 8pt;
  font-family: monospace;
  white-space: pre-wrap;
  overflow-y: scroll;
  word-break: break-word;
  z-index: 2;
}

/* OSM */
body #page .ol-attribution {
  bottom: 0;
  right: 0;
  font-size: 10pt;
}

body #page .ol-attribution * {
  font-size: 10pt;
}

body.darkmode .ol-viewport {
  filter: invert(1);
}

/* page=profile */
#p-profile {
  flex-direction: column;
  height: 100vh;
}

#p-profile .header {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5em;
  background: #cfc;
  border-bottom: 0.25em solid #8c8;
}

body.darkmode #p-profile .header {
  background: #343;
  border-bottom: 0.25em solid #232;
}

#p-profile .hard-exif {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 8pt;
  opacity: 0.05;
  text-decoration: line-through;
}

#p-profile .photo {
  position: relative;
  width: 64px;
  height: 64px;
}

#p-profile #photo {
  position: absolute;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  object-fit: cover;
  cursor: pointer;
}

#p-profile .photo .ctrl {
  display: none;
  position: absolute;
  width: 8px;
  height: 8px;
  cursor: pointer;
}

#p-profile.self .photo .ctrl {
  display: inherit;
}

#p-profile .rotate {
  right: 0;
  top: 0;
}

#p-profile .flip {
  right: 0;
  bottom: 0;
}

#p-profile #reg-name {
  flex: 1;
  margin: 0 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body.darkmode #p-profile #reg-name {
  color: #ccc;
}

#p-profile.self #reg-name:empty::before {
  content: "Your name";
  font-style: italic;
  color: #ccc;
}

#p-profile button {
  user-select: none;
  font-size: 0.5em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  color: #fff;
  box-shadow: 0 0 1pt 1pt #0004;
}

#p-profile .self-tag {
  display: none;
  color: #888;
  font-size: 8pt;
  position: absolute;
  right: 0;
  bottom: 0;
}

#p-profile .report {
  display: none;
  cursor: pointer;
  background: #800;
}

body.darkmode #p-profile .report {
  color: #ccc;
  background: #400;
}

#p-profile .import {
  display: none;
  background: #840;
  cursor: pointer;
}

#p-profile.self .import {
  display: inherit;
}

#p-profile .send-report {
  display: none;
  background: #840;
  cursor: pointer;
}

#p-profile.report:not(.reported) .send-report {
  display: inherit;
}

#p-profile:not(.self):not(.report) .report {
  display: inherit;
}

#p-profile.self .self-tag {
  display: inherit;
}

#p-profile #reg-name:empty::before {
  font-style: italic;
  color: #ccc;
}

#p-profile .details {
  display: flex;
}

body.darkmode #p-profile .details {
  color: #888;
}

#p-profile .reason {
  display: none;
  font-size: 0.5em;
  padding: 1em;
  overflow-y: scroll;
  overflow: auto;
  white-space: pre-wrap;
}

body.darkmode #p-profile .reason {
  color: #888;
}

#p-profile .about {
  flex: 1;
  font-size: 0.5em;
  padding: 1em;
  overflow-y: scroll;
  overflow: auto;
  white-space: pre-wrap;
}

body.darkmode #p-profile .about {
  color: #888;
}

#p-profile .about:focus {
  outline: none;
}

#p-profile.self .about:empty::before {
  font-style: italic;
  color: #888;
  content: "Write something about yourself. You can add a link to your website here.";
}

#p-profile.report .reason {
  display: inherit;
  flex: 1;
}

#p-profile.report .reason:empty::before {
  font-style: italic;
  color: #f008;
  content: "Care to explain why?";
}

#p-profile .footer {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  align-items: center;
  background: #cfc;
  border-top: 0.25em solid #8c8;
}

body.darkmode #p-profile .footer {
  background: #343;
  border-top: 0.25em solid #232;
}

#p-profile .footer button {
  margin-left: 0.5em;
  cursor: pointer;
}

#p-profile .status {
  flex: 1;
  font-size: 0.5em;
  padding-right: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#p-profile #reg-done {
  background: #484;
  cursor: pointer;
}

#p-profile:not(.self) #reg-done {
  display: none;
}

#p-profile .details table {
  padding: 0.5em;
  width: 100%;
}

#p-profile .details td {
  padding: 0.3em;
  font-size: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#p-profile .details td:first-child {
  font-weight: bold;
  text-align: right;
  width: 20%;
  color: #000;
}

body.darkmode #p-profile .details td:first-child {
  color: #ccc;
}

/* page=map */
#map {
  width: 100%;
  height: 100%;
  border: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
}

#no-gps {
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
  word-break: break-all;
  z-index: 1;
}

#controls {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: fixed;
  right: 0.5rem;
  top: 0.5rem;
}

#controls > * {
  margin-bottom: 0.25rem;
}

#controls img {
  border-radius: 50%;
  border: none;
  background: #ccc;
  box-shadow: 0 0 7pt 1pt #000;
  width: 64px;
  height: 64px;
}

#send {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  z-index: 1;
}

#send:disabled {
  background: #888;
  box-shadow: none;
}

#see-chats.unread {
  font-weight: bold;
  color: #c40;
}

body.darkmode #see-chats.unread {
  color: #c40;
}

#see-chats.unread::after {
  content: "+1";
}

/* page=places */
#all-places {
  width: 100%;
  height: 100%;
  border: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
}

#all-places > .none {
  font-size: 0.75em;
  padding: 1em;
}

#all-places > .none a {
  font-size: inherit;
  text-decoration: underline;
  cursor: pointer;
}

/* page=nearby */
#p-nearby {
  height: auto;
}

#vplace-map {
  height: 25vh;
}

#vtime-bar {
  background: #8c8;
  color: #fff;
  padding: 1em;
  font-size: 0.5rem;
}

body.darkmode #vtime-bar {
  color: #888;
  background: #232;
}

#vtime-bar * {
  font-size: 0.5rem;
}

#vtime-bar > span::before {
  content: " ";
}

#unvisit {
  font-weight: bold;
  cursor: pointer;
}

#nearby-status:not(:empty) {
  font-size: 0.5rem;
  padding: 1em;
}

body.darkmode .fs-edit {
  color: #888;
}

#p-nearby .fs-edit:empty::before {
  content: "Add a note for this place?";
  color: #888;
  font-style: italic;
}

/* page=settings */
#p-settings .controls {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5em;
  margin: 0.5em;
}

/* page=unread */
.user-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  margin: 0.5em;
}

.user-cards a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.user-cards img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.user-cards span {
  font-size: 0.5em;
  text-align: center;
  word-break: break-word;
}

body.darkmode .user-cards span {
  color: #888;
}

.user-cards .unread span {
  font-weight: bold;
  color: #c40;
}

body.darkmode .user-cards .unread span {
  color: #c40;
}

#nearby-status {
  word-wrap: break-word;
  word-break: break-all;
}

/* page=chat */
#u-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;
  background: #cfc;
  border-bottom: 0.25em solid #8c8;
}

body.darkmode #u-header {
  color: #ccc;
  background: #343;
  border-bottom: 0.25em solid #232;
}

#u-header img {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin-right: 0.5em;
}

#messages {
  overflow-x: hidden;
  overflow-y: scroll;
  overflow: auto;
  flex: auto;
}

#messages .m {
  margin: 0.25rem;
  border: 1px solid #eee;
  border-radius: 0.25rem;
  padding: 0.25rem;
  width: 80%;
  position: relative;
}

body.darkmode #messages .m {
  border-color: #343;
}

#messages .y {
  margin-left: auto;
  background: #efe;
}

body.darkmode #messages .y {
  color: #888;
  background: #343;
}

#messages .t {
  margin-right: auto;
  background: #eef;
  word-break: break-all;
}

body.darkmode #messages .t {
  color: #ccc;
  background: #232;
}

#messages .mt {
  font-size: 0.5em;
  display: flex;
  word-break: break-word;
}

#messages .ts {
  color: #444;
  display: flex;
  font-size: 0.2em;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  bottom: 0;
}

#messages .synced .ts {
  color: #080;
}

#messages .failed .ts {
  color: #800;
}

#u-footer {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
}

#reply-text {
  font-size: 0.5em;
  flex: auto;
  padding: 0.5em;
  vertical-align: middle;
  border: 1px solid #ccf;
  border-radius: 0.5em;
  margin-right: 1em;
  word-break: break-all;
}

#reply-text * {
  font-size: inherit;
}

body.darkmode #reply-text {
  color: #ccc;
}

#reply-text:empty::before {
  content: "Your message here.";
  color: #888;
  font-style: italic;
}

#reply-text:focus {
  outline: none;
  border-color: #ccf;
}

/* page=explorer */
#p-explorer * {
  font-size: 12pt;
  font-family: monospace;
}

#p-explorer .path {
  background: #cfc;
  color: #000;
  padding: 0.5em;
  word-break: break-all;
  border-bottom: 0.25em solid #8c8;
}

body.darkmode #p-explorer .path {
  background: #343;
  color: #ccc;
  border-color: #232;
}

#p-explorer .path .controls * {
  margin-left: 1em;
  cursor: pointer;
  width: 1em;
  height: 1em;
}

body.darkmode #p-explorer .path .controls * {
  filter: invert(1);
}

#p-explorer .path .controls *:hover {
  filter: invert(1);
}

#p-explorer .links {
  display: grid;
  grid-gap: 0.25em;
  grid-template-columns: repeat(4, 1fr);
}

#p-explorer .links.sfc {
  grid-template-columns: repeat(1, 1fr);
}

#p-explorer .links > div {
  background: #cfc;
  color: #000;
  word-break: break-all;
  text-decoration: none;
  padding: 0.5em;
  user-select: none;
}

body.darkmode #p-explorer .links > div {
  background: #343;
}

body.darkmode #p-explorer .links > div > a {
  color: #ccc;
}

#p-explorer .links > div:hover {
  background-color: #8c8;
}

body.darkmode #p-explorer .links > div:hover {
  background-color: #232;
}

#p-explorer .links > div * {
  text-decoration: none;
  font-style: normal;
}

body.darkmode #p-explorer .data {
  color: #ccc;
}

/* prop name */
#p-explorer .links:not(.sfc) > div a {
  display: block;
}

/* prop value */
#p-explorer .links > div i {
  font-weight: bold;
}

/* prop units */
#p-explorer .links > div b {
  color: #444;
}

/* prop description */
#p-explorer .links > div s {
  color: #444;
  display: block;
  margin-top: 0.5em;
}

#p-explorer .data {
  padding: 0.25em;
  white-space: pre-wrap;
  word-break: break-all;
  flex: 1;
  font-size: 10pt;
}

#p-explorer .data:focus {
  outline: none;
}

#p-explorer *[fstatus=updating] {
  color: #555 !important;
}

#p-explorer *[fstatus=updated] {
  color: #080 !important;
}

#p-explorer *[fstatus=failed] {
  color: #800 !important;
}

/* page=feedback */
#p-feedback * {
  font-size: 0.75em;
}

#p-feedback .text {
  flex: 1;
  padding: 0.5em;
}

#p-feedback .text:empty::before {
  color: #888;
  font-style: italic;
  content: "What did you want to say?";
}

#p-feedback .footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;
  background: #400;
  color: #fff;
}

#p-feedback .status {
  flex: 1;
}

/** comp=fs-edit */
.fs-edit {
  color: #444;
  font-size: 0.5em;
  padding: 1em;
}

.fs-edit:focus {
  outline: none;
}

/*# sourceMappingURL=common.css.map */
