* {
  font-size: 24pt;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#map {
  width: 100%;
  height: 100%;
  border: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

#no-gps {
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
}

#send {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  font-size: 18pt;
  padding: 1em;
  border: none;
  color: #fff;
  background: #400;
  box-shadow: 0 0 7pt 1pt #000;
}

#show-logs {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 12pt;
  padding: 0.5em;
}

#logs {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  font-size: 8pt;
  font-family: monospace;
  white-space: pre-wrap;
  overflow-y: scroll;
  word-break: break-word;
}
