* {
  font-size: 24pt;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

button.btn {
  font-size: 0.75em;
  padding: 1em;
  background: #800;
  color: #fff;
  border: none;
  box-shadow: 0 0 7pt 1pt #000;
  user-select: none;
}

button.btn:focus {
  outline: none;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#p-reg {
  justify-content: space-evenly;
}

#photo-frame {
  position: relative;
  align-self: center;
  width: 200pt;
  height: 200pt;
}

#photo-frame > button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #888;
  background: none;
  box-shadow: none;
  text-decoration: underline;
  font-size: 0.5em;
  font-weight: bold;
}

#photo-frame > img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  object-fit: cover;
  background: #0004;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#upload-input {
  display: none;
}

#reg-name-group {
  display: flex;
  flex-direction: column;
}

#name-tag {
  display: flex;
  justify-content: space-evenly;
  color: #444;
  font-size: 0.75em;
}

#reg-name {
  border: none;
  border-bottom: 1px solid #444;
  width: 50%;
  margin: 0 auto;
}

#reg-name:focus {
  outline: none;
}

#reg-nav {
  display: flex;
}

#reg-err {
  font-size: 0.5em;
  padding: 1em;
  color: #800;
  text-align: center;
  word-wrap: break-word;
}

#reg-done {
  margin: 0 auto;
}

#map, #all-places {
  width: 100%;
  height: 100%;
  border: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
}

body .page .ol-attribution {
  bottom: 0;
  right: 0;
  font-size: 10pt;
}

body .page .ol-attribution * {
  font-size: 10pt;
}

#no-gps {
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 1;
}

#userpic {
  z-index: 1;
  position: fixed;
  right: 0.5em;
  top: 0.5em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: none;
  background: #ccc;
  box-shadow: 0 0 7pt 1pt #000;
}

#show-places {
  z-index: 1;
  position: fixed;
  right: 0.5em;
  top: 3.5em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: none;
  background: #ccc;
  box-shadow: 0 0 7pt 1pt #000;
}

#send {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  z-index: 1;
}

#send:disabled {
  background: #888;
  box-shadow: none;
}

#debug {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
  flex-direction: column;
  z-index: 3;
}

body.debug #debug {
  display: flex;
}

#debug button {
  color: #444;  
  font-size: 12pt;
  box-shadow: none;  
  background: none;
  padding: 0;
  margin: 1em;
  text-decoration: underline;
}

#logs {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  font-size: 8pt;
  font-family: monospace;
  white-space: pre-wrap;
  overflow-y: scroll;
  word-break: break-word;
  z-index: 2;
}

#visitors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  padding: 1em;
}

#visitors .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#visitors .card img {
  width: 64;
  height: 64;
  border-radius: 50%;
}

#visitors .card .name {
  font-size: 0.5em;
  text-align: center;
}

#nearby-status {
  word-wrap: break-word;
  word-break: break-all;
}
